<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                    (ngSubmit)="onSubmit()"
                    [formGroup]="loginForm"
                    class="main-form needs-validation"
                    novalidate
                  >
                    <h1>Login</h1>
                    <p class="text-muted">Para continuar, efetue login ou registre-se.</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input
                        [ngClass]="{
                          'is-invalid': loginForm.get('eMail').invalid,
                          'is-valid': loginForm.get('eMail').valid
                        }"
                        class="form-control"
                        required
                        type="email"
                        formControlName="eMail"
                        placeholder="E-mail"
                        [(ngModel)]="cliente.email"
                        name="email"
                      />
                    </div>
                    <div
                      *ngIf="loginForm.get('eMail').errors?.required"
                      class="alert alert-danger"
                    >
                      Por favor digite seu email.
                    </div>
                    <div
                      *ngIf="loginForm.get('eMail').errors?.email"
                      class="alert alert-danger"
                    >
                      Por favor digite um e-mail válido !
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input
                        [ngClass]="{
                          'is-invalid': loginForm.get('password').invalid,
                          'is-valid': loginForm.get('password').valid
                        }"
                        class="form-control"
                        required
                        type="password"
                        formControlName="password"
                        placeholder="Senha"
                        [(ngModel)]="cliente.password"
                        name="password"
                        minlength="6"
                        maxlength="8"
                      />
                    </div>
                    <div
                      *ngIf="loginForm.get('password').errors?.required"
                      class="alert alert-danger"
                    >
                      Por favor digite sua senha.
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary px-4">Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0" (click)="recoverModal.show()" >Esqueceu sua senha ?</button>
                    </div>
                      <ngx-loading
                        [show]="loading"
                        [config]="{
                          animationType: ngxLoadingAnimationTypes.wanderingCubes,
                          backdropBorderRadius: '3px',
                          fullScreenBackdrop: true
                        }"
                      ></ngx-loading>
                    </div>
                  </form>
              </div>
            </div>
            <div class="card text-white bg-dark py-5 d-md-down">
              <div class="card-body text-center">
                <div>
                  <h2>Cadastre-se</h2>
                  <p>Ainda não é nosso cliente?</p>
                  <p>Crie sua conta clicando no botão abaixo.</p>
                  <button type="button" class="btn btn-primary active mt-3" (click)="formClient()">Se Cadastre!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div
  bsModal
  #recoverModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ ignoreBackdropClick: true, keyboard: false }"
>
  <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recuperação de senha</h4>
        <button
          type="button"
          class="close"
          (click)="recoverModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Caso você tenha mudado de e-mail ou telefone, por favor entre em contato com o administrador !</p>
        <p>Você deseja resetar seu password informando seu: </p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="recover" id="email" [value]="true" [(ngModel)]="isEmail">
          <label class="form-check-label" for="email">
            E-mail
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="recover" id="whatsApp" [value]="false" [(ngModel)]="isEmail">
          <label class="form-check-label" for="whatsApp">
            WhatsApp
          </label>
        </div>
        <div class="form-group text-center">
          <label for="dataNascimento">Digite sua data de nascimento</label>
          <input
            class="form-control"
            type="date"
            [(ngModel)]="cliente.dataNascimento"
            name="dataNascimento"
            placeholder="Data de nascimento"
            id="dataNascimento"
            required
          />
        </div>
        <div class="form-group text-center" [formGroup]="loginForm" *ngIf="isEmail == true">
          <label for="email">Digite o e-mail utilizado no cadastro</label>
          <input
            [(ngModel)]="cliente.email"
            formControlName="eMail"
            class="form-control"
            placeholder="Digite seu e-mail"
            name="email"
            id="email"
            [ngClass]="{
              'is-invalid': loginForm.get('eMail').invalid,
              'is-valid': loginForm.get('eMail').valid
            }"
          />
        </div>
        <div class="form-group col-md-12" *ngIf="isEmail == false">
          <label for="telefone">Digite o número de telefone utilizado no cadastro</label>
          <ngx-intl-tel-input
            [onlyCountries]="[CountryISO.Brazil, CountryISO.Japan]"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true"
            [searchCountryFlag]="false"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Brazil"
            [maxLength]="13"
            [tooltipField]="TooltipLabel.Name"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [(ngModel)]="telefone"
            (ngModelChange)="checkNumber()"
            name="telefone"
            [id]="telefone"
          >
          </ngx-intl-tel-input>
        </div>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-primary"
        (click)="recoverPassword()"
      >
        Enviar
      </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="recoverModal.hide()"
        >
          Fechar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button
          type="button"
          class="close"
          (click)="dangerModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="dangerModal.hide()"
        >
          Fechar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  bsModal
  #confirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button
          type="button"
          class="close"
          (click)="confirmModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="confirmModal.hide()"
        >
          Cancelar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->