<div class="app-body">
  <main class="main modal-dialog-centered">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="recoverPassForm">
                <h1>Alterar senha</h1>
                <p class="text-muted">Digite sua nova senha (de 6 a 8 dígitos )</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                  [ngClass]="{
                    'is-invalid': recoverPassForm.get('password').invalid,
                    'is-valid': recoverPassForm.get('password').valid
                  }"
                    formControlName="password"
                    [(ngModel)]="password"
                    type="password"
                    class="form-control"
                    placeholder="Senha"
                    name="password"
                    minlength="6"
                    maxlength="8"
                    required
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                  [ngClass]="{
                    'is-invalid': recoverPassForm.hasError('notSame'),
                    'is-valid': !recoverPassForm.hasError('notSame')
                  }"
                    formControlName="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    placeholder="Confirme a senha"
                    minlength="6"
                    maxlength="8"
                    required
                  />
                </div>
                <div
                *ngIf="recoverPassForm.hasError('notSame')"
                class="alert alert-danger"
              >
                As senhas digitadas são diferentes.
              </div>
              </form>
              <button type="button" [disabled]="recoverPassForm.invalid" (click)="submit()" class="btn btn-block btn-success">
                Alterar Senha
              </button>
            </div>
            <div class="card-footer p-4"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<ngx-loading
[show]="loading"
[config]="{
  animationType: ngxLoadingAnimationTypes.wanderingCubes,
  backdropBorderRadius: '3px',
  fullScreenBackdrop: true
}"
></ngx-loading>

<div
  bsModal
  #confirmModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ ignoreBackdropClick: true, keyboard: false }"
>
  <div class="modal-dialog modal-success modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button
          type="button"
          class="close"
          (click)="goToLogin()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="goToLogin()"
        >
          Cancelar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->